$bg__about-img: 
    "../img/about/about-s1.jpg",
    "../img/about/about-s2.jpg",
    "../img/about/about-s3.jpg";
$bg__comingsoon-img: "../img/coming.jpg";
$bg__contact-img: 
    "../img/contact/contact-s1.jpg",
    "../img/contact/contact-s2.jpg",
    "../img/contact/contact-s3.jpg";
$bg__error-img: "../img/error.jpg";
$bg__index-img: 
    "../img/index/index-s1.jpg",
    "../img/index/index-s2.jpg",
    "../img/index/index-s3.jpg",
    "../img/index/index-s4.jpg";
$bg__login-img: "../img/login/login-s1.jpg";
$bg__privacy-img: "../img/privacy.jpg";    
$bg__product-img: 
    "../img/product/product-s1.jpg",
    "../img/product/product-s2.jpg",
    "../img/product/product-s3.jpg",
    "../img/product/product-s4.jpg",
    "../img/product/product-s5.jpg";
$bg__promo-img: 
    "../img/promo/promo-s1.jpg",
    "../img/promo/promo-s2.jpg",
    "../img/promo/promo-s3.jpg";
$bg__classes:
    "about",
    "comingsoon",
    "contact",
    "error",
    "index",
    "login",
    "privacy",
    "product",
    "promo";
$bg__aoa:
    $bg__about-img,
    $bg__comingsoon-img,
    $bg__contact-img,
    $bg__error-img,
    $bg__index-img,
    $bg__login-img,
    $bg__privacy-img,
    $bg__product-img,
    $bg__promo-img;
$color__shadow: #333;
$text__shadow: 1px 1px 3px $color__shadow; 